.vs
CCG.Shared/obj
CCG.Shared/bin
CCG.Client/obj
CCG.Client/bin
CCG.Server/obj
CCG.Server/bin
CCG.CLIClient/obj
CCG.CLIClient/bin
CCGUnity/.vs
CCGUnity/Library
CCGUnity/Logs
CCGUnity/Temp
CCGUnity/Build
CCGUnity/UserSettings
CCGUnity/.vsconfig
CCGUnity/Assembly-CSharp.csproj
CCGUnity/CCGUnity.slnx
CCGUnity/Assets/Packages/*
!CCGUnity/Assets/Packages/.gitkeep
CCGUnity/Assets/CCG.Client.dll
CCGUnity/Assets/CCG.Client.dll.pdb
CCGUnity/Assets/CCG.Shared.dll
CCGUnity/Assets/CCG.Shared.dll.pdb
